.aboutArtist-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    background-color: transparent;
    padding-bottom: 1em;
    border-radius: 10px;
    gap: 0.2em;
}

#artist-img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
}