#root {
  max-width: 1280px;
  height: max-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
  flex-direction: column;
}

body {
  background-color: black;
}

#root button:hover {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}