.footer {
    right: 50%;
    transform: translateX(+50%);

}

.footer-after, .footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    width: 100vh;
}

.footer-after {
    bottom: 1em;
    left: 1em;
    width: auto;
}

#heart {
    color: red !important;
}

a:visited {
    color: white;
}

@media screen and (max-width: 768px) {
    .footer-after {
        position: unset;
        height: 1em;
        width: 50vh;
        margin: 0;
        transform: unset;
    }
}

@media (hover: hover) {
    a:hover {
        text-decoration: underline;
    }
}