.login-a {
    text-decoration: none;
    color: white;
    background-color: limegreen;
    width: 100px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    right: 50px;
    transform: scale(1);
    transition: all .3s ease-out;
}

.login-a:hover {
    text-decoration: underline;
    color: black;
    background-color: limegreen;
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}

.login-a:visited {
    color: black;
}