.skeleton-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    background-color: lightgrey;
    color: black;
    border-radius: 10px;
}

#song-img {
    padding-top: 20px;
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 10px;
    background-color: silver;
}

#play-button {
    text-align: center;
    border-radius: 50%;
    border-color: transparent;
    width: 50px;
    height: 50px;
    position: relative;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
    transform: scale(1);
    background-color: white;
}

#play-button:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.05);
}

#songName-h2 {
    position: relative;
    margin: 10px;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
    height: 20px;
    background-color: silver;
}

#songArtist-h5 {
    margin: 10px;
    position: relative;
    width: 200px;
    height: 20px;
    background-color: silver;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: lightgrey;
}