.skeleton-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: transparent;
    border-radius: 10px;
    user-select: none;
}

/*#f9f9f9*/

.controllers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    position: absolute;
    bottom: 1.5em;
}

#play-button {
    text-align: center;
    border-radius: 50%;
    border-color: transparent;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
    transform: scale(1);
    background-color: white;
    outline: none;
}

#previous-button, #next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: all .3s ease-out;
    transform: scale(1);
    outline: none;
}

#song-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
}

#songName-h2 {
    position: relative;
    max-width: 280px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
    height: 20px;
    background-color: silver;
}

#songArtist-h5 {
    margin: 5px;
    position: relative;
    width: 200px;
    height: 20px;
    background-color: silver;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: lightgrey;
}

@media screen and (max-width: 768px) {
    .skeleton-div {
        flex-direction: column;
        width: 350px;
    }
}

@media (hover: hover) {
    #previous-button:hover, #play-button:hover, #next-button:hover {
        transition: all .3s ease-in-out;
        transform: scale(1.05);
    }
}