:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h2, p {
  margin: 0;
}

.div-volume {
  position: absolute;
  bottom: 1.5em;
  right: 2em;
}

.btn-share {
  position: absolute;
  bottom: 1.7em;
  right: 16em;
  background-color: transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
}

.popup {
  position: absolute;
  top: 1.5em;
  right: 50%;
  transform: translateX(+50%);
  animation: move .1s ease-in-out;
  background-color: black;
  color: white;
  margin: 0.5em;
  padding: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.div-volume input:hover {
  cursor: pointer;
}

#img-share {
  background-color: transparent;
  width: 30px;
  height: 30px;
}

.div-volume img:hover {
  cursor: pointer;
}

.btn-share:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: .2s all ease-out;
}

@keyframes move {
  0%{
    top: 0;
  }
  50%{
    top: 0.75em
  }
  100%{
    top: 1.5em;
  }

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
